/bin/shen-erlang
/ebin/*
/bin/*
/erl_crash.dump
/src/shen_erl_kl_parse.erl
/src/shen_erl_kl_scan.erl
/.erlang.mk
/test/logs
/test/*.beam
/shen_erl.d
/kl/
/test/shen
/.shen_erl.plt
/ShenOSKernel-*
/S41/
/S41.2-*.zip
/S42/
/S42-*.zip
/S42.0-*.zip
